


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  padding: 30px;
}

.onelogoone{
  padding: 50px;
  margin: 40px;
  border-width: 30px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-color: indianred;
  border-left-color:#61dafb;
  border-right-color:darkturquoise;
  border-bottom-color:cadetblue;
  border-style: solid;
}
h1{
  color: #ffffff;
}
p{
  color: #ffffff;
}
